

body {
  background-image: url('https://th.bing.com/th/id/OIP.bA_Iahbq8qiblk6cPUDjEwHaEo?pid=ImgDet&rs=1');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0; 
  height: 100vh; 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
}

#countdown {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: rgb(42, 20, 237);
}
